@charset "UTF-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  min-width: 320px;
  margin: 0;
  font-family: 'Arial'; }

button {
  outline: none;
  cursor: pointer;
  border: 0;
  background: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap; }

body {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: 'roboto';
  font-weight: 300; }

.block {
  position: relative;
  border: 1px solid;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px; }

.el {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background .2s;
  transition: background .2s;
  border: 1px solid #c4c4c4; }

.cross:after {
  font-family: 'arial';
  display: block;
  content: '+';
  font-size: 100px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.zero:after {
  font-family: 'arial';
  display: block;
  content: 'O';
  font-size: 70px; }

.turn {
  position: absolute;
  top: 425px;
  font-size: 20px;
  text-transform: uppercase; }

.turn_cross:after, .turn_zero:after {
  display: block;
  color: #111111; }

.turn_cross:after {
  content: 'Ход Крестиков'; }

.turn_zero:after {
  content: 'Ход Ноликов'; }

.win_cross:after {
  content: 'Победа Крестиков'; }

.win_zero:after {
  content: 'Победа Ноликов'; }

.draw:after {
  content: 'Ничья'; }

.win_cross, .win_zero, .draw {
  font-size: 25px; }

.reset {
  font-size: 40px;
  padding: 0px 5px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  margin-left: 125px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: text-shadow .2s,color .2s, -webkit-transform .2s;
  transition: text-shadow .2s,color .2s, -webkit-transform .2s;
  transition: text-shadow .2s,color .2s, transform .2s;
  transition: text-shadow .2s,color .2s, transform .2s,-webkit-transform .2s; }

.mode-select {
  position: absolute;
  top: 20px; }

.mode {
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: text-shadow .2s, color .2s, -webkit-transform .2s;
  transition: text-shadow .2s, color .2s, -webkit-transform .2s;
  transition: transform .2s, text-shadow .2s, color .2s;
  transition: transform .2s, text-shadow .2s, color .2s, -webkit-transform .2s;
  color: #333333;
  text-transform: uppercase; }
  .mode_pc {
    margin-bottom: 5px; }

.mode_active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  color: #000000; }

body {
  background-color: #101010; }

.el {
  border: 1px solid white;
  -webkit-box-shadow: 0 0 6px #15FFFF;
  box-shadow: 0 0 6px #15FFFF; }

.cross:after {
  color: #7bffff;
  text-shadow: 0 0 5px #15FFFF; }

.zero:after {
  color: #ff51c5;
  text-shadow: 0 0 5px #FF1EB4; }

.turn_cross:after {
  color: #15FFFF;
  text-shadow: 0 0 5px #15FFFF; }

.turn_zero:after {
  color: #FF1EB4;
  text-shadow: 0 0 5px #FF1EB4; }

.win_cross:after {
  color: #15FFFF;
  text-shadow: 0 0 5px #15FFFF; }

.win_zero:after {
  color: #FF1EB4;
  text-shadow: 0 0 5px #FF1EB4; }

.draw:after {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff; }

.reset {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 4px #ffffff; }
  .reset:hover {
    color: #ffffff;
    text-shadow: 0 0 6px #ffffff; }

.mode {
  color: rgba(255, 255, 255, 0.7); }

.mode_active {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff; }
