body
	.turn.turn_cross.turn_active Ход крестиков
	.turn.turn_zero Ход ноликов
	.mode-select
		.mode.mode_pc.mode_active pc
		.mode.mode_vs vs

	.block
		.el
		.el
		.el
		.el
		.el
		.el
		.el
		.el
		.el
		.protect
	.reset &#8635
