@import base/_reset
body
	height: 400px
	display: flex
	justify-content: center
	align-items: flex-end
	font-family: 'roboto'
	font-weight: 300

.block
	position: relative
	border: 2px solid
	display: grid
	grid-template-columns: 100px 100px 100px
	grid-template-rows: 100px 100px 100px

.el
	cursor: pointer
	display: flex
	justify-content: center
	align-items: center
	transition: background .2s

.cross
	&:after
		font-family: 'arial'
		display: block
		content: '+'
		font-size: 100px
		transform: rotate(45deg)

.zero
	&:after
		font-family: 'arial'
		display: block
		content:  'O'
		font-size: 70px

.turn
	position: absolute
	top: 425px
	font-size: 20px
	visibility: hidden
	text-transform: uppercase


.turn_active
	visibility: visible

.turn_cross
	color: #111111 !important
	text-shadow: none !important
.turn_zero
	color: #111111 !important
	text-shadow: none !important
.winner
	font-size: 25px

.reset
	font-size: 40px
	padding: 0px 5px
	cursor: pointer
	position: absolute
	top: 25px
	margin-left: 125px
	transform: rotate(90deg)
	transition: text-shadow .2s,color .2s, transform .2s
	&:hover

.mode-select
	position: absolute
	top: 20px
.mode
	cursor: pointer
	font-size: 24px
	user-select: none
	transition: text-shadow .2s, color .2s

.mode_active

@import styles/_neon
