body
	background-color: #101010

.el
	border: 1px solid lighten(#15FFFF, 50)
	box-shadow: 0 0 6px #15FFFF

.cross
	&:after
		color: lighten(#15FFFF, 20)
		text-shadow: 0 0 5px #15FFFF

.zero
	&:after
		color: lighten(#FF1EB4, 10)
		text-shadow: 0 0 5px #FF1EB4
.turn_cross
	color: #15FFFF !important
	text-shadow: 0 0 5px #15FFFF !important

.turn_zero
	color: #FF1EB4 !important
	text-shadow: 0 0 5px #FF1EB4 !important

.reset
	color: rgba(#ffffff, .8)
	text-shadow: 0 0 4px #ffffff
	&:hover
		color: #ffffff
		text-shadow: 0 0 6px #ffffff
.mode
	color: rgba(#ffffff, .7)

.mode_active
	color: #ffffff
	text-shadow: 0 0 5px #ffffff
